<div class = "form-elements">
    <div class = "Profile-icon"></div>
    <input class = "user-cadastro-input" type="text" placeholder="NOME">
    <input class = "user-cadastro-input" type="text" placeholder="E-MAIL">
    <input class = "user-cadastro-input" type="password" placeholder="SENHA">
    <input class = "user-cadastro-input" type="password" placeholder="REPETIR SENHA">
    <button class = "cadastro-button">Cadastrar</button>

    <div class = "floating-text">
        <p> Acessar sem cadastro</p>
    </div>

</div>
