<div class="form-elements">
    <div class="Profile-icon"></div>
    <form class="form-element" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="fields">
            <input class="user-cadastro-input" type="text" formControlName="username" placeholder="Username">
            <input class="user-cadastro-input" type="email" formControlName="email" placeholder="Email">
            <input class="user-cadastro-input" type="password" formControlName="password" placeholder="Password">
            <input class="user-cadastro-input" type="password" formControlName="repeatPassword" placeholder="Repeat Password">
        </div>
        <button class ="cadastro-button" type="submit">Cadastrar</button>
      </form>
      
    <div class="floating-text">
      <a routerLink="/chat-screen">Iniciar atendimento direto</a>
    </div>
  </div>
  