body{
    background-color: #063161;
}

.form-elements {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.Profile-icon {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url('src/app/Assist_Genie-removebg-preview.png');
    background-size: cover;
    background-position: center;
    margin-top: 150px;

}

.fields {
    margin-top: 55px;
    justify-content: center;
    align-items: center;
}
.user-cadastro-input {
    width: 850px;
    height: 40px;
    margin-top: 55px;
    display: flex;
    flex-direction: column;



}


.cadastro-button {
    margin-top: 55px;
    height: fit-content;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
} 

.floating-text{
    margin-top: 55px;
    color: white;
    font-size: 20px;
    font-weight: semi-bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



