<div class="form-elements">
    <div class="Profile-icon"></div>
    <form class="form-elements" (ngSubmit)="onSubmit()">
      <input class="user-login-input" type="text" placeholder="E-MAIL" [(ngModel)]="user.username" name="username" required>
      <input class="user-login-input" type="password" placeholder="SENHA" [(ngModel)]="user.password" name="password" required>
      <button class="login-button" type="submit">LOGIN</button>
    </form>
    <div class="floating-text">
      <a routerLink="/sign-in" class="aaaa">Cadastrar</a>
      <br>
      <a routerLink="/chat-screen">Iniciar atendimento direto</a>
    </div>
  </div>
  