.chat-input{
    width: 50%;
    height: 50px;
    border: none;
    /* padding-right: 10%; */
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 45%;
    margin-left: 30%;
    outline: none;
}

.left-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.welcome-text {
    font-size: 20px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10%;
    background-color: transparent;
}

.left-menu:hover {
    transform: translateX(-5px);
}

.top-elements {
    margin-top: 20px;
    width: 100%;
    height: 20%;
    position: relative;
}



.top-elements::before {
    padding-top: 20%;
    content: ""; /* Criar um elemento vazio para a sobreposição */
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('src/app/Assist_Genie-removebg-preview.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Garante que a imagem fique abaixo do texto */
}


.top-elements p {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 2;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 10px;
}

.middle-elements {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual-attendance {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual-button {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underline from link */
}

.manual-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.back-button {
    margin-top: 30%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    background-color: transparent;
}

.main-content {
    margin-left: 20%;
    width: 80%;
    height: 100vh; /* 100% of the viewport height */
    overflow: hidden;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */

}


.chat-icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff; 
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}

.log-out{
    width: 60px;
    height: 60px;
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 10%;
    color: white;
}

.chat-history{
    width: 50%;
    height: 50%;
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    
}


.chat-flield{
    width: 80%; /* Ajuste a largura conforme necessário */
    height: 70%; /* Ajuste a altura conforme necessário */
    max-width: 1200px; /* Define um máximo para a largura */
    max-height: 800px; /* Define um máximo para a altura */
    border: 1px solid #ccc; /* Adiciona uma borda ao contêiner */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adiciona uma sombra */
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}

